<!DOCTYPE html>
<html ng-app="steelApp" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>Home page of Lorin Steel</title>
    <!-- TypeKit Fonts -->
    <!-- <script src="https://use.typekit.net/bhl5ioi.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script> -->
    <!-- Backup Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700,800" rel="stylesheet" type="text/css">
    <!-- Includes all compiled css based bower components; i.e. bootstrap.css, main.css, etc. -->
    <link rel="stylesheet" href="css/app.min.css">
  </head>
  <body>
    <div class="container-fluid">
      <div ng-view></div>
    </div>
    <div class="screen-resolution"><p></p></div>
    <script src="js/app.min.js"></script>
  </body>
</html>
