<!DOCTYPE html>
<html ng-app="steelApp" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>Home page of Lorin Steel</title>
    <!-- TypeKit Fonts -->
    <!-- <script src="https://use.typekit.net/bhl5ioi.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script> -->
    <!-- Backup Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet" type="text/css">
    <!-- Includes all compiled css based bower components; i.e. bootstrap.css, main.css, etc. -->
    <link rel="stylesheet" href="css/app.min.css">
  </head>
  <body ng-controller="MainController as mainCtrl">
    <div class="container-fluid">
      <div class="row">
        <header>
          <a href="" ng-click="mainCtrl.scrollTop('')" class="header-logo"><img src="images/ls-brackets-logo.png" alt="Lorin Steel Logo" /></a>
          <nav>
            <ul>
              <li><a href="https://twitter.com/lorinsteel" target="_blank"><span class="icon-twitter"></span></a></li>
              <li><a href="https://github.com/lsteel" target="_blank"><span class="icon-github"></span></a></li>
              <li><a href="http://lorinsteel.com/blog" target="_blank"><span class="btn btn-info">blog</span></a></li>
              <li><a href="" ng-click="mainCtrl.scrollTop('contact')"><span class="icon-contact"></span></a></li>
            </ul>
          </nav>
        </header>
      </div>
      <div class="row">
        <div ng-view class="col-xs-12 slide"></div>
      </div>
      <div class="row">
        <footer>
          <p>&copy; Copyright {{mainCtrl.date | date:'yyyy'}} Lorin Steel</p>
        </footer>
      </div>
    </div>
    <div class="screen-resolution"><p></p></div>
    <script src="js/app.min.js"></script>
  </body>
</html>
