<div class="row">
  <div class="contact-screen col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
    <h1>Contact</h1>
    <form method="post" name="form" role="form" ng-submit="form.$valid && contactCtrl.submit(input)" novalidate>
        <div class="form-group">
          <label for="name">Name:</label>
          <input class="form-control" type="text" id="name" name="name" ng-model="input.name" maxlength="50">
        </div>
        <div class="form-group">
          <label for="email">Email:</label>
          <input class="form-control" type="email" id="email" name="email" ng-model="input.email" maxlength="50">
        </div>
        <div class="form-group">
          <label for="messsage">Message:</label>
          <textarea class="form-control" id="messsage" name="message" ng-model="input.message" maxlength="2000"></textarea>
        </div>
        <div class="form-group hidden">
          <label class="hidden" for="poohbear">You're a bot if you enter something here:</label>
          <input class="form-control hidden" type="text" id="poohbear" name="poohbear" ng-model="input.poohbear">
        </div>
      <button type="submit" name="submit" ng-click="contactCtrl.inputType = 'contact'" class="btn btn-default">Submit</button>
    </form>
    <div class="alert alert-danger" ng-show="contactCtrl.errorMessage">
      <p>{{ contactCtrl.errorMessage }}</p>
    </div>
    <div class="alert alert-success" ng-show="contactCtrl.successMessage">
      <p>{{ contactCtrl.successMessage }}</p>
    </div>
  </div>
</div>
