<div class="row">
  <div class="home-screen col-xs-12 text-center">
    <div class="me-container">
      <img src="images/me.jpg" alt="Lorin Steel" />
    </div>
    <h1>Lorin Steel</h1>
    <h2>User Experience Oriented Developer</h2>
    <h3><span class="green">Front End</span> & <span class="blue">Back End</span></h3>
  </div>
  <div class="home-menu-container padding-zero col-xs-12">
    <div class="home-menu-item red-back col-xs-12">
      <div class="col-xs-10 col-xs-offset-1">
        <a href="" ng-click="homeCtrl.scrollTop('about')">
          <p><span class="icon-circle"></span>about</p>
        </a>
      </div>
    </div>
    <div class="home-menu-item orange-back col-xs-12">
      <div class="col-xs-10 col-xs-offset-1">
        <a href="" ng-click="homeCtrl.scrollTop('technologies')">
          <p><span class="icon-robot-toy"></span>technologies</p>
        </a>
      </div>
    </div>
    <div class="home-menu-item yellow-back col-xs-12">
      <div class="col-xs-10 col-xs-offset-1">
        <a href="" ng-click="homeCtrl.scrollTop('portfolio')">
          <p><span class="icon-chemistry"></span>portfolio</p>
        </a>
      </div>
    </div>
    <div class="home-menu-item green-back col-xs-12">
      <div class="col-xs-10 col-xs-offset-1">
        <a href="" ng-click="homeCtrl.scrollTop('experience')">
          <p><span class="icon-astronaut-ingravity"></span>experience</p>
        </a>
      </div>
    </div>
    <div class="home-menu-item blue-back col-xs-12">
      <div class="col-xs-10 col-xs-offset-1">
        <a href="http://lorinsteel.com/blog" target="_blank">
          <p><span class="icon-attach"></span>blog</p>
        </a>
      </div>
    </div>
    <div class="home-menu-item violet-back col-xs-12">
      <div class="col-xs-10 col-xs-offset-1">
        <a href="" ng-click="homeCtrl.scrollTop('contact')">
          <p><span class="icon-paper-plane"></span>contact</p>
        </a>
      </div>
    </div>
  </div>
</div>
