@charset "UTF-8";

@font-face {
  font-family: "lscom-icons";
  src:url("fonts/lscom-icons.eot");
  src:url("fonts/lscom-icons.eot?#iefix") format("embedded-opentype"),
    url("fonts/lscom-icons.woff") format("woff"),
    url("fonts/lscom-icons.ttf") format("truetype"),
    url("fonts/lscom-icons.svg#lscom-icons") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "lscom-icons" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "lscom-icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-apple:before {
  content: "\61";
}
.icon-astronaut-ingravity:before {
  content: "\62";
}
.icon-attach:before {
  content: "\63";
}
.icon-chemistry:before {
  content: "\64";
}
.icon-circle:before {
  content: "\65";
}
.icon-contact:before {
  content: "\66";
}
.icon-github:before {
  content: "\67";
}
.icon-paper-plane:before {
  content: "\68";
}
.icon-robot-toy:before {
  content: "\69";
}
.icon-twitter:before {
  content: "\6a";
}
