// out: ../styles/main.css, sourcemap: true, compress: true

/* Mobile first queries */
@import 'reset'
@import 'fontface'

$black = #000
$white = #fff
$off-white = #f1f2f2
$clear-white = rgba(255,255,255,.75)
$dark-grey = #333333
$lgt-grey = #444444
$red = #FF4232
$orange = #FF5800
$yellow = #FF9B00
$green = #00C47D
$blue = #0088C6
$violet = #CB00C0

a,
a:link,
a:visited,
a:hover,
a:active
  color inherit
  text-decoration none

h4,h5,h6,p,ol,ul
  line-height 1.3

h1
  font-size 238%
  font-weight 700

p
  a,
  a:link,
  a:visited,
  a:hover,
  a:active
    color inherit
    text-decoration underline

img
  max-width 100%

.padding-zero
  margin 0
  padding 0

.over-hide
  overflow hidden
  overflow-x hidden
  overflow-y auto

.red
  color $red

.orange
  color $orange

.yellow
  color $yellow

.green
  color $green

.blue
  color $blue

.violet
  color $violet

.red-back
  color $white
  background-color $red
  &:before
    background-color $red

.orange-back
  color $white
  background-color $orange
  &:before
    background-color $orange

.yellow-back
  color $white
  background-color $yellow
  &:before
    background-color $yellow

.green-back
  color $white
  background-color $green
  &:before
    background-color $green

.blue-back
  color $white
  background-color $blue
  &:before
    background-color $blue

.violet-back
  color $white
  background-color $violet
  &:before
    background-color $violet

.italic
  font-style italic

.bold
  font-weight 700

.light
  font-weight 300

//ngView Animations

.slide
  width 100%
  background $white

.slide.ng-enter, .slide.ng-leave
  position absolute
  -webkit-transition all 1s ease
  transition all 1s ease
  z-index 9999

.slide.ng-enter
  left 100%
  z-index 9998

.slide.ng-enter-active
  left 0
  z-index 9998

.slide.ng-leave
  left 0
  z-index 9999

.slide.ng-leave-active
  left -100%
  z-index 9999

//BOOTSTRAP ALERATIONS

.btn-info
  color #fff
  background-color $blue
  border-color $blue

.btn-info:focus,
.btn-info.focus
  color $blue
  background-color $white
  border-color $blue

.btn-info:hover
  color $blue
  background-color $white
  border-color $blue




//remove this section before live production
.screen-resolution
  display block
  position fixed
  bottom 20px
  right 20px
  color $white
//end section to remove

html, body
  margin 0 auto
  padding 0
  width 100%
  height auto
  min-height 100vh
  font-size 16px
  font-weight 400
  font-family "Lato", sans-serif
  color $lgt-grey

.container-fluid
  min-height 100vh
  > .row
    padding-bottom 25px
    min-height 100vh

//HEADER

header
  padding 8px 15px

.header-logo
  display inline-block
  z-index 9999
  img
    width 60px

nav
  position absolute
  top 18px
  right 15px
  ul
    list-style none
    li
      display inline
      margin 0 5px
      span
        font-size 30px
        vertical-align: -12px

//FOOTER

footer
  position absolute
  bottom 0
  width 100%
  text-align center
  background $white
  p
    padding 5px 0
    font-size 12px
    font-weight 300


// HOME PAGE

.home-screen
  padding-top 30px
  h1
    padding-bottom 7px
  h2
    padding-bottom 7px
    font-size 100%
    font-weight 300
  h3
    padding-bottom 50px
    font-size 100%
    font-weight 400

.me-container
  margin 0 auto
  width 90px
  height 90px
  border 2px solid $dark-grey
  -webkit-border-radius 100%
  -moz-border-radius 100%
  border-radius 100%
  overflow hidden

.home-menu-item
  font-size 131%
  font-weight 300
  &:before
    content ""
    position absolute
    /* fill vertically */
    top 0
    bottom 0
    width 9600px
    right 100%
    transition width 1s ease
  p
    padding 15px 0 15px 55px
    vertical-align middle
  span
    position absolute
    left 0
    width 40px
    text-align center
    &.icon-circle
      margin-top 2px
      font-size 25px
    &.icon-robot-toy
      margin-top -7px
      font-size 40px
    &.icon-chemistry
      margin-top -5px
      font-size 35px
    &.icon-astronaut-ingravity
      margin-top -3px
      font-size 37px
    &.icon-attach
      margin-top 0px
      font-size 25px
    &.icon-paper-plane
      margin-top -2px
      font-size 30px

//CONTACT PAGE

.contact-screen
  padding 30px 0 0
  background $white

.contact-content
  padding 0
  h1 span
    font-size 85%
    vertical-align middle
  p
    padding-bottom 30px

.form-container
  padding 0
  margin-bottom 20px
  p
    margin 0
    padding 0
  span
    font-weight 700
  label
    margin 0
    padding 0
  hr
    margin 0 0 10px 0
    border-top 1px solid $dark-grey
  button, button:focus, .btn:focus
    outline none
  input
    line-height 1
  input, textarea
    margin 0
    padding 0
    max-width 100%
    -webkit-appearance none
    color $dark-grey
    font-weight 300
    border none
    resize none
    outline none
  ::-webkit-input-placeholder
    color $dark-grey
  :-moz-placeholder /* Firefox 18- */
    color $dark-grey
  ::-moz-placeholder /* Firefox 19+ */
    color $dark-grey
  :-ms-input-placeholder
    color $dark-grey
  textarea
    width 100%
    font-weight 700
    background transparent
    ::-webkit-input-placeholder
      font-weight 700
    :-moz-placeholder /* Firefox 18- */
      font-weight 700
    ::-moz-placeholder /* Firefox 19+ */
      font-weight 700
    :-ms-input-placeholder
      font-weight 700
  .ng-touched
    &.ng-empty::-webkit-input-placeholder
      color $red
    &.ng-empty:-moz-placeholder /* Firefox 18- */
      color $red
    &.ng-empty::-moz-placeholder /* Firefox 19+ */
      color $red
    &.ng-empty:-ms-input-placeholder
      color $red
  .form-group
    margin-bottom 10px
  .email-group
    font-size 169%
    input
      font-weight 700
    ::-webkit-input-placeholder
      font-weight: 700
    :-moz-placeholder /* Firefox 18- */
      font-weight: 700
    ::-moz-placeholder /* Firefox 19+ */
      font-weight: 700
    :-ms-input-placeholder
      font-weight: 700
    .ng-dirty.ng-invalid-email
      color $red
    .ng-dirty.ng-valid-email
      color $green

.alert-container
  padding 0 0 20px


@import 'media-queries'
